* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'MyFont';
  src: url('/CyberAlert.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'MyFont';
  background-image: url('/bgimage.jpg');
  background-size: cover;
  background-position: center;
}


.page {
  display: flex;          
  height: 100vh;          

}


.left {
  flex: 1;             
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.right {
  flex: 1;             
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  font-family: 'MyFont';
  margin-top: 150px;

}


.grid {
  background-color: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
}

.grid button {
  font-family: "MyFont";
  font-size: 48px;
  font-weight: bold;
  color: black;
}

.main-name{
    font-size: 58px;
    margin-bottom: 30px;
}
.game-info{
    font-size: 58px;
    margin-bottom: 40px;
}
.restart{
    margin-top: 20px;
    max-width: 200px;
    padding: 10px 20px;
    font-size: 24px;
    background-color: #ff1500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: MyFont;
}
.restart:hover{
    background-color: #f71703;
}
.restart:active{
    background-color: #ff3c2a;
}   

@media (max-width: 768px) {
  .page {
    flex-direction: column;
    align-items: center;
  }

  .right {
    margin-top: 20px;
    align-items: center;
  }

  .grid {
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
  }

  .main-name, .game-info {
    font-size: 40px;
  }
}
